/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
nav ul {
    display: flex;
    align-items: center;
    
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.diva{
    max-width: 500px;
   

}
.bannerh{
    margin-bottom: 0px;
}
.ban{
    margin-top: 4px;
    margin-bottom: 20px;
}
.para{
    margin-top: 0px;
}
.dp{
    width: 500px;

}

li{
    margin: 16px;
    padding: 8px;
}
span{
    color: orange;
}
.color{
   
   color:  #FD6E0A;
}
a{
    text-decoration: none;
    color: #474747;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
/* common shared styles */
body{
  
font-family: 'Open Sans', sans-serif;

}
.btn{
    border-radius: 5px;
background: #FD6E0A;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
color: var(--White-Color, #FFF);
border: none;
padding: 16px 35px;

}
.hi{
    font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
/* header related styles */
.h{
    background-color: #FFF8F3;
   background-image: url("images/header_bg.png");
background-repeat: no-repeat;
background-position:bottom right;
}
/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
background: #FFF8F3;
margin: 130px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.abtinf{
    text-align: center;
    margin: 50px;
}
.info-dis{
    color: #474747;
justify-content: space-around;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px;
}
.section-title{
    color: var(--Dark-01, #181818);
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.secdis{
    margin: 30px 150px;
    color: #757575);
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px
}
#what{
    padding: 30px 150px;
}
.skills{
    display: flex;
    margin: 50px 230px ;
}